
<style>

       
body {
    margin: 0;
    padding: 0;
}


.wrapper {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 0px;
}

.sidebar {
    width: 150px;
    background-color: #ffc66a;
    padding: 20px;
    height: 7000;
}

.loginbox {
    width: 1000px; 
    height: 550px;              
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgb(255, 136, 0);  
    border: 1px solid #e0e0e0;
    margin: 70px auto;           
    border-radius: 10px;          
    text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 20px; 
    position: relative;         
}



.loginbox label {
    display: block;
    font-weight: 500;
    text-align: left;          
    color: #333333;
}

.fieldtype {
    width: 50%;              
    margin-bottom: 20px;       
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.savebutton {
    position: absolute;   
    top: 15px;
    right: 15px;
    width: 20%;              
    padding: 12px;
    border-radius: 5px;
    background-color: black;
    color: rgb(255, 254, 254);
    font-weight: bold;
  
}

.savebutton:hover {
    background-color: blue; 
}

.registerlink{
    text-align: left;
    display: block;          
    padding-top: 15px;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.registerlink:hover {
    color: blue; 
}
</style>
<div class = "wrapper">
    <div class="sidebar">
        <a href="/projecthub/">Project hub</a><br><br>
        <a href="">Calander</a><br><br>
        <a href="">Notifications</a><br><br>
       
    </div>

<div class="loginbox">

    <p class="welcome">Welcome, {{ request.user.first_name }}</p>

    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Full name:</label><br>
        <input class="fieldtype" type="text" name="full_name"
               value="{{ request.user.first_name }}" required><br><br>

        <label>Email:</label><br>
        <input class="fieldtype" type="email" name="email"
               value="{{ request.user.email }}" required><br><br>

        <label>Username:</label><br>
        <input class="fieldtype" type="text" name="username"
               value="{{ request.user.username }}" required><br><br>

        <label>Password:</label><br>
        <input class="fieldtype" type="password" name="password"
               placeholder="Leave blank to keep current password"><br><br>

        <button class="savebutton" type="submit">Save</button>
    </form>

</div>
</div>



